<div class="sidebar">
    <div class="logo">
        USER MANAGER
    </div>
    <nav>
        <ul class="nav-top">
            <li><a routerLink="/dashboard" routerLinkActive="active"><mat-icon>dashboard</mat-icon> Dashboard</a></li>
            <li><a routerLink="/objectives" routerLinkActive="active"><mat-icon>bar_chart</mat-icon> Objectives</a></li>
            <li><a routerLink="/documents" routerLinkActive="active"><mat-icon>description</mat-icon> Documents</a></li>
            <li><a routerLink="/photos" routerLinkActive="active"><mat-icon>photo</mat-icon> Photos</a></li>
            <li><a routerLink="/hierarchy" routerLinkActive="active"><mat-icon>account_tree</mat-icon> Hierarchy</a></li>
        </ul>

        <ul class="nav-bottom">
            <li><a routerLink="/messages" routerLinkActive="active"><mat-icon>chat</mat-icon> Message</a></li>
            <li><a routerLink="/help" routerLinkActive="active"><mat-icon>help_outline</mat-icon> Help</a></li>
            <li><a routerLink="/settings" routerLinkActive="active"><mat-icon>settings</mat-icon> Settings</a></li>
        </ul>
    </nav>
</div>