<div class="header">
    <div class="greeting">
        <p class="greeting-text">Hello, Ittichet</p>
        <p class="greeting-subtext">Have a nice day.</p>
    </div>

    <div class="right">
        <div class="bell-wrapper">
            <mat-icon class="icon">notifications</mat-icon>
            <span class="badge"></span>
        </div>
        <div class="divider"></div>
        <div class="profile">
            <div class="avatar"></div>
            <div class="text">
                <span class="name">Ittichet Thongsang</span>
                <span class="role">Admin</span>
            </div>
            	<mat-icon>keyboard_arrow_down</mat-icon>
        </div>
    </div>
</div>