<table class="user-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Create Date</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="name-cell">
                    <div class="name-email">
                        <div class="name">David Wagner</div>
                        <div class="email">david_wagner@example.com</div>
                    </div>
                    <span class="badge badge-super-admin">Super Admin</span>
                </div>
            </td>
            <td>24 Oct, 2015</td>
            <td>Lorem Ipsum</td>
            <td>
                <div class="action-cell">
                    <mat-icon class="action-icon">edit</mat-icon>
                    <mat-icon class="action-icon">delete</mat-icon>
                </div>
            </td>
        </tr>
    </tbody>
</table>