<div class="pagination">
    <span class="label">Items per page:</span>

    <select class="page-size-select" (change)="onPageSizeChange($event)">
        <option value="6">6</option>
        <option value="10">10</option>
        <option value="25">25</option>
    </select>

    <span class="page-info">
        {{ (pageNumber() - 1) * pageSize() + 1 }}-{{ pageNumber() * pageSize() }} of {{ totalCount() }}
    </span>

    <button class="nav-btn" [disabled]="pageNumber() === 1" (click)="onPrev()">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <button class="nav-btn" [disabled]="pageNumber() * pageSize() >= totalCount()" (click)="onNext()">
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>